nav {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
nav img {
  max-width: 300px;
}

nav input {
  padding: 1rem;
  font-size: large;
}
nav button {
  padding: 1rem;
}